<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odin Flight Booker, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a flight.
    </p>
    <p>
      To view more flights, go to our homepage at: <%= link_to "Odin Flight Booker", @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
